.not-div{
    background-color: rgb(18, 54, 48);
    box-sizing: border-box;
   padding-left: 10px;
   padding-right: 10px;
   ;
}


.not-found{
    text-align: center;
    font-size: 30px;
    color: white;

}
.error{
    color: rgb(212, 245, 92);
    font-size: 50px;
}