.review-div{
    margin: 10px,20px;
   
    display:grid;
    grid-template-columns: repeat(3,50%);
    grid-gap: 30px;
    text-align: justify;
    
}
.contain h2{
    color: chocolate;
    display: block;
}
.rating{
    color: deeppink;
}
