



.home-comp{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 30px;
}
.home-div{
width: 50%;
}
.para{
    font-size: 25px;
    color: rgb(247, 217, 179);
    font-style: italic;
}

.home-image img{
    width: 400px;;
box-shadow: 5px;
   
}
.astro{
    color: mediumspringgreen;
}
.heading{
  color: rgb(63, 216, 243);
  text-align: center;
  margin: 20px,0px;
}


/* ---------button--------*/
.button {
  align-items: center;
  background-color: #1f1883;
  border: 4px solid rgb(141, 228, 70);
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(235, 252, 84);
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-weight: 800;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: rgb(240, 252, 72);
  border-radius: 8px;
  content: "going";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #3d1e1b;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}

.see-more-btn 
    
  {
      align-items: center;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;
      color: #FFFFFF;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      font-weight: 700;
      justify-content: center;
      line-height: 1em;
      max-width: 100%;
      min-width: 140px;
      padding: 3px 8px;
      text-decoration: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      cursor: pointer;
    }
    
    .see-more-btn:active,
    .see-more-btn:hover {
      outline: 0;
    }
    
    .see-more-btn span {
      background-color: rgb(5, 6, 45);
      padding: 16px 24px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 300ms;
    }
    
    .see-more-btn:hover span {
      background: none;
    }
    
    @media (min-width: 768px) {
      .see-more-btn {
        font-size: 24px;
        min-width: 196px;
      }
    }

    