.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: coral;
}
.header-link a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(117, 16, 58);
}